<div class="header">
  <h1><%= @user.name %>, here are your contacts:</h1>
</div>
<div class="buttons">
  <button class="all btn btn-success">Show All</button>
  <button class="international btn btn-warning">International Numbers</button>
  <button class="extensions btn btn-info">Numbers with Extensions</button>
  <button class="com btn btn-primary">.com Email Addresses</button>
  <button class="sortEmail btn btn-danger">Sort By Email</button>
</div>

<%= render "contacts" %>
