// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_user_div {
  margin-top: 200px;
}
.header {
  text-align: center;
}
.header h2 {
  margin-top: 0;
}
.new_user {
  margin-top: 25px;
  text-align: center;
}
#user_contact_file {
  display: inline-block;
  width: 200px;
}
input {
  margin-top: 10px;
}
